.settings
.wtpmodules
target
.project
.classpath
bin
*.iml
.idea
_*.sh
*.local
*.localz
es.properties.backup
*.zip
*.versionsBackup
*.log
*.db
mqjms.log*
maven-eclipse.xml
.externalToolBuilders
dep.txt